.btn-subscribe {
    font-size: 1.5rem;
    padding: 1em 1.5em;
    background-color: $clr-green;
    color: $color-primary;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}

.btn-subscribe:active {
    background-color: $clr-green;
    color: $color-primary;
    border-radius: 10px;
}

// SIDEBAR TOGGLE

.btn-toggle-sidebar button:hover {
    cursor: pointer;
}

.btn-toggle-sidebar button:active {
    background-color: #2c2c2c;
}

.btn-toggle-sidebar button img {
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
