.btn-subscribe {
    font-size: 1.5rem;
    padding: 1em 1.5em;
    background-color: $clr-green;
    color: $color-primary;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}

.btn-subscribe:active {
    background-color: $clr-green;
    color: $color-primary;
    border-radius: 10px;
}

