$font-color-dark : #000000;
$font-color-light : #ffffff;

$color-primary : #1f1d1d;
$clr-green :#99FF25;
$font-size-large: 3rem;

$ft-fm-poppins: 'Poppins', 'Lato', Helvetica, sans-serif;
$ft-fm-lato: 'Lato', 'Poppins', Helvetica, sans-serif;